body {
	background-image: radial-gradient(circle, #004dc0, #bd40a6, #fa5c76, #ff9b53, #e5da64);
}
html, body {
	min-height: 100%;
}

.header {
	position: sticky;
	top: 0;
	background: black;
	padding: 10px;
	border: 1px solid;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: white;
	text-align: center;
	z-index: 5;
}

a {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
}

p{
	color: white;
	position: absolute;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: white;
}
